h1{
    display: inline-block;
    vertical-align: 30%;
    font-size: 30px ;
}


 main {
    margin-left: 171px;
    margin-right: 171px;
    height:528px;
    width: 170px;
    left: -9px;
    top: 257px;
  }
  

    
