h1{
    display: inline-block;
    vertical-align: 30%;
    font-size: 30px ;
}
 main {
    display: inline-block;
    width: 1170px;
    margin-left: 0px;
    margin-right:0%;
    height: 620px;
    left: -9px;
    top: 257px; 
    padding: 10px;
    border: 50px solid #f6f8f9;
    border-right: 250px solid #f6f8f9;
  }
  /* buttons */
.btt1{
    background-color: #47adf1;
    color: #ffffff;
    border-radius: 10%;
    border-color:#47adf1;

}

.btt2{
    background-color:#ffffff;
    color: rgb(203, 203, 203);
    border-radius: 10%;
    border-color: rgb(203, 203, 203);

}
.check{
    background-color: white;
    color: lightgreen;
    border:2px solid lightgreen;
    border-radius: 50%;
    
}

.ncheck{
    background-color: white;
    color: red;
    border:2px solid red;
    border-radius: 50%;
}
.att1{
    background-color: #47adf1;
    color: #ffffff;
    border-radius: 10%;
    font-size: small;
}
.att2{
    background-color: rgb(194, 42, 194);
    color: #ffffff;
    border-radius: 10%;
    font-size: small;
}
.att3{
    background-color:rgb(1, 135, 95);
    color: #ffffff;
    border-radius: 10%;
    font-size: small;
}
.att4{
    
    background-color: rgb(255, 165, 55);
    color: #ffffff;
    border-radius: 10%;
    font-size: small;
}
.att5{
    
    background-color:rgb(245, 4, 129);
    color: #ffffff;
    border-radius: 10%;
    font-size: small;
}
.att6{
    
    background-color:rgb(97, 255, 88);
    color: #ffffff;
    border-radius: 10%;
    font-size: small;
}